# Unreal Engine
*.log
*.tmp
*.db
*.obj
*.pch
*.pdb
*.sdf
*.suo
*.opensdf
*.ipch
*.aps
*.ncb
*.user
*.dll
*.exe
*.zip
*.tar.gz
*.iso
*.bin
*.vs
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
*.pyc
__pycache__/
.env
